html, body{
    background-color: black;
    color: white;
}
a{
    color: white;
}

.logo{
  height: 3em;
}

.fav-li{
  display: flex;
  padding-left: 0.25em;
  padding-right: 1em;
}

.yellow{
  color: yellow!important;
  border-color: yellow!important;
}